[Desktop Entry]
Type=Application
Name=Pi Tester
Comment=GPIO Tester GUI
Exec=/home/pi/Desktop/App/pi-tester2/start-appv5.sh
Icon=utilities-terminal
Terminal=false
Categories=Utility;
StartupNotify=true