[Desktop Entry]
Name=Pi Tester
Comment=GPIO Tester GUI
Exec=sudo -E ./appv5.py
Path=.
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Development;
