[Desktop Entry]
Name=Pi Tester
Comment=GPIO Tester GUI
Exec=sh -c 'cd "$(dirname "%k")" && sudo -E python3 appv5.py'
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Development;